.wrapper {
  padding-top: 30px;
}

body h3 {
  margin-bottom: 27px;

}

.navbar {
  border-bottom: 3.5px groove rgb(221, 221, 221);
  background-color: #436b95;
}

.home {
  padding-top: 20px;
  padding-bottom: 40px;
}

body {
  background: linear-gradient(to top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  ;
  background-attachment: fixed;
}

.navbar-brand a {
  color: whitesmoke;
  font-size: x-large;
}

.link {
  background-color: white;
}

.nav-link {
  color: #fff;
}

.form-wrapper,
.table-wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.table-wrapper {
  max-width: 700px;
}

.edit-link {
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.7rem;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.edit-link:hover {
  text-decoration: none;
  color: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

td button {
  margin: 0 2px;
}

.article-form {
  padding: 0 10em;
}
